// SCSS STYLES
@import 'reset.css';


// VARIABLES
$mainFonts: Roboto, sans-serif;
$bgColour: white;


// MAIN STYLES
html, body{
	font-family: $mainFonts;

}

.testing{
	float:right;
	margin-top:40px;
	position:fixed;
}

.fillHeight{ //fills window size with current div
	height:100vh;
	position:relative;
}
.hidden{
	display:none;
}

.selected{
	font-weight:800;
}


//LANDING PAGE STYLE
#landing{
	background-color:orange;
}

.landingContainer{
	height:auto;
	width:auto;
	position:absolute;
	top: 20%;
	left: 15%;
	transform:(-50%, -50%);


	#landingH1{
	font-weight: 800;
	font-size:10vw;
}

	span{
	font-size:2em;
}

}





//ABOUT STYLES
.aboutText{
	width:60vw;
	display:block;
	margin: 0px auto auto auto;
	padding-top:10%;

	h2{
		font-size: 6vw;
		font-weight: bold;
		margin-bottom: 2vw;
	}
}
.aboutCall{
	margin-top:5%;
	text-align:center;
}
#beginBut{
	width: 100px;
	height: 30px;
	background-color:orange;
	padding-top:10px;
	display:block;
	margin: 10px auto auto auto;

}
#beginBut:hover{
		font-weight:500;
		background-color:#FFD101FF;
}


// QUESTION STYLES
		.questionPage:nth-of-type(odd){background-color:#DEDEDEFF;} //test
		.questionPage:nth-of-type(even){background-color:#BFBFBFFF;} //test
.qContainer{
	display:block;
	margin:auto;
	width:80%;
	height:80%;
	padding-top:5%;
}

.qStatement{
	font-size: 3vw;
	p:last-child{
	font-size: 2em;
	font-weight:800;
}
}
.qSelection{
	margin-top:5%;
	height:15%;
	width:100%;
	display:flex;
	justify-content: space-between;
	text-align: center;

		div:nth-of-type(odd){background-color:orange;} //test
		div:nth-of-type(even){background-color:#FDC108FF;} //test

		.answerBox{
		width:10%;
		height:80%;
		margin:auto;
		display:inline-block;
		p{
			font-size: 4vw;
			padding-top:17%;
		}
	}
}

.qFluffText{
	display:block;
	width:auto;
	margin-top:5%;
}

.mainFluff{
	font-size:5vw;
	font-weight:500;
}

.qNext{
	width:20%;
	height:5%;
	background-color:grey;
	margin:auto;
	text-align:center;
	vertical-align:middle;
}

// FOOTER STYLES
.footerWrap{
	background-color: #242424FF;
	color: white;
	height:80px;
}

//TEMP STYLES REMOVE THESE