// SCSS STYLES
@import 'reset.css';


// VARIABLES
$mainFonts: Roboto, sans-serif;
$bgColour: white;


// MAIN STYLES
html, body{
	font-family: $mainFonts;

}

.testing{
	float:left;
	position:fixed;
}

.fillHeight{ //fills window size with current div
	height:100vh;
	// position:relative;
}
.hidden{
	display:none;
}

.selected{
	border: 1px solid black;
}

// QUESTION STYLES
.qContainer{
	margin:0px auto auto auto;
	padding-top: 5%;
	width:80%;
	background-color:orange;
}

.qStatement{
	background-color:yellow;
	p:last-child{
	font-size: 2em;
	font-weight:bold;
}
}
.qSelection{
	height:3em;
	width:100%;
	display:flex;
	justify-content: space-between;

		div:nth-of-type(odd){background-color:red;} //test
		div:nth-of-type(even){background-color:blue;} //test

		.answerBox{
		width:10%;
		height:80%;
		margin:auto;
		display:inline-block;
	}
}

.qFluffText{
	text-align:center;
	font-weight:bold;
	background-color:yellow;
}
.qSymbol{
	background-color:red;

	.qSymbolContainer{
		width: 50vw;
		height: 40vw;
		margin:auto;
		background-color: blue;
	}
}



// FOOTER STYLES
.footerWrap{
	background-color: #242424FF;
	color: white;
	height:80px;
}

//TEMP STYLES REMOVE THESE
.one{
	background-color:#B6B6B6FF;
}
.two{
	background-color:#282828FF;
}
.reveal{
	height:30px;
	width:auto;
	background-color:red;
}