html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: orange; }

.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -80px; }

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 800; }

.push {
  height: 80px; }

.footerWrap {
  background-color: black;
  color: white; }
