@import url(reset.css);
html, body {
  font-family: Roboto, sans-serif; }

.testing {
  float: right;
  margin-top: 40px;
  position: fixed; }

.fillHeight {
  height: 100vh;
  position: relative; }

.hidden {
  display: none; }

.selected {
  font-weight: 800; }

#landing {
  background-color: orange; }

.landingContainer {
  height: auto;
  width: auto;
  position: absolute;
  top: 20%;
  left: 15%;
  transform: -50%, -50%; }
  .landingContainer #landingH1 {
    font-weight: 800;
    font-size: 10vw; }
  .landingContainer span {
    font-size: 2em; }

.aboutText {
  width: 60vw;
  display: block;
  margin: 0px auto auto auto;
  padding-top: 10%; }
  .aboutText h2 {
    font-size: 6vw;
    font-weight: bold;
    margin-bottom: 2vw; }

.aboutCall {
  margin-top: 5%;
  text-align: center; }

.beginB {
  width: 100px;
  height: 30px;
  background-color: orange;
  padding-top: 10px;
  margin: 10px auto auto auto; }

#beginBut:hover {
  font-weight: 500;
  background-color: #FFD101FF; }

.questionPage:nth-of-type(odd) {
  background-color: #DEDEDEFF; }

.questionPage:nth-of-type(even) {
  background-color: #FFFFFFFF; }

.qContainer {
  display: block;
  margin: auto;
  width: 80%;
  height: 80%;
  padding-top: 5%; }

.qStatement {
  font-size: 3vw; }
  .qStatement p:last-child {
    font-size: 2em;
    font-weight: 800; }

.qSelection {
  margin-top: 5%;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center; }
  .qSelection div:nth-of-type(odd) {
    background-color: orange; }
  .qSelection div:nth-of-type(even) {
    background-color: #FDC108FF; }
  .qSelection .answerBox {
    width: 10%;
    height: 80%;
    margin: auto;
    display: inline-block; }
    .qSelection .answerBox p {
      font-size: 4vw;
      padding-top: 17%; }

.qFluffText {
  display: block;
  width: auto;
  margin-top: 5%; }

.mainFluff {
  font-size: 5vw;
  font-weight: 500; }

.qNext {
  width: 20%;
  height: 5%;
  background-color: #ECBF31FF;
  margin: auto;
  padding-top: 1%;
  text-align: center;
  vertical-align: middle; }

.final {
  width: 80%;
  display: inline-block;
  padding-top: 15%;
  padding-left: 10%;
  font-size: 5vw; }

.return {
  text-align: center;
  display: block;
  margin: 5% auto auto auto;
  width: 15%;
  height: auto;
  padding: 20px;
  background-color: orange;
  font-weight: 500; }

.return:hover {
  background-color: #FFC300FF; }
