@import url(reset.css);
html, body {
  font-family: Roboto, sans-serif; }

.testing {
  float: left;
  position: fixed; }

.fillHeight {
  height: 100vh; }

.hidden {
  display: none; }

.selected {
  border: 1px solid black; }

.qContainer {
  margin: 0px auto auto auto;
  padding-top: 5%;
  width: 80%;
  background-color: orange; }

.qStatement {
  background-color: yellow; }
  .qStatement p:last-child {
    font-size: 2em;
    font-weight: bold; }

.qSelection {
  height: 3em;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  .qSelection div:nth-of-type(odd) {
    background-color: red; }
  .qSelection div:nth-of-type(even) {
    background-color: blue; }
  .qSelection .answerBox {
    width: 10%;
    height: 80%;
    margin: auto;
    display: inline-block; }

.qFluffText {
  text-align: center;
  font-weight: bold;
  background-color: yellow; }

.qSymbol {
  background-color: red; }
  .qSymbol .qSymbolContainer {
    width: 50vw;
    height: 40vw;
    margin: auto;
    background-color: blue; }

.footerWrap {
  background-color: #242424FF;
  color: white;
  height: 80px; }

.one {
  background-color: #B6B6B6FF; }

.two {
  background-color: #282828FF; }

.reveal {
  height: 30px;
  width: auto;
  background-color: red; }
